BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
UseTab: Never
Cpp11BracedListStyle: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
# cmake -B build -S . -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
# ln -sF build/compile_commands.json .
